@import "./styles/bench.scss";
@import "./styles/squat.scss";
@import "./styles/deadlift.scss";

.our_container {
    width: 200px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 5%;
}

#next:hover, #back:hover{
    font-style: italic;
    color: yellow;
    transform: scale(1.4)
}

.our_container > button {
    width: 50px;
}

#divider2 {
    position: relative;
    // bottom: 30%;
    left: 40%;
    bottom: 400px;
    z-index: 1;
}

.our_container {
    color: yellow
}

#divider1 {
    position: relative;
    left: 10%;
    top: 60px;
}

.bar:hover {
    fill: yellow;
  }

text {
    font-size: 1.6em;
}

#chart{
    z-index: 99;
}
button{
    z-index: 5;
}

body {
    background: url(https://cdn.wallpapersafari.com/25/4/eLumlI.png);
}

text{
    color: white;
}

#canvas {
    position: none;
    z-index: 1;
    height: 20%;
    width: 20%;
    display: flex;
    justify-content: center;
}

#canvas:hover{
    opacity: 0.2
}

button {
    display: flex;
    justify-content: flex-end;
    z-index: 100;
}

#back, #next {
    background: rgba(255, 166, 0, 0);
    color: rgb(191, 189, 189);
    font-size: 25px;
    border: transparent;
    padding: 10px 20px;
}

h2 {
    color: rgb(235, 223, 115);
    font-size: 40px;
    padding: 50px 100px
}

// #next {
//     background: rgba(255, 166, 0, 0);
//     color: rgb(191, 189, 189);
//     font-size: 25px;
//     border: transparent;
//     padding: 10px 20px;
// }



h1 {
    color: rgb(191, 189, 189);
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.Buttons {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.Exercise {
    background: rgba(255, 166, 0, 0);
    color: salmon;
    font-size: 30px;
    border: transparent;
    padding: 10px 20px;
}

.Exercise:hover {
    // background-color:rgba(216, 12, 12, 0.568);
    font-style: italic;
    color: yellow;
    transform: scale(1.4)
}

.bar {
    fill: yellow;
}
